<h1>Home#index <%= notice %></h1>
<p>Find me in app/views/home/index.html.erb</p>

  <div id='cover'></div>
  <div class="intro">
    <div class="content">

    <div id="user_nav">
      <% if current_user %>
        Welcome, <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
      <% end %>

      <div class="main_text">
      <h1> Macaron </h1>
        <p class="lead">친구들과 함께 특별한 선물을 준비해보세요</p>
      </div>

      <div>
      <%= link_to "/auth/facebook", id:"fb-link" do %>
        <div class="fb-join">
          <div class="fb-join-image"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_fb-86680a3702eb0c41f5cf6412554e2360.png"></div>
          <div class="fb-join-text">페이스북으로 시작하기</div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>