
<div class="recommendation-header">
  <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
  <h2>선물이 추천되었습니다!</h2>
  <p class="lead">마음에 드는 선물을 고르세요!</p>
</div>
<div class="container">
  <div class="row gifts">
    <%= render @gifts %>
  </div>
  <div class="row">
    <div class="recommendation-more col-md-4 col-md-offset-4">
      <button id="recommend" type="button" class="btn btn-default btn-block">계속 추천받기</button>
    </div>
  </div>
</div>

<div style="display: none">
<%= paginate @gifts %>
</div>