<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Macaron</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="recommendation-header">
  <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
  <h2>선물이 추천되었습니다!</h2>
  <p class="lead">마음에 드는 선물을 고르세요!</p>
</div>
<div class="container">
  <div class="row gifts">
    <%= render @gifts %>
  </div>
  <div class="row">
    <div class="recommendation-more col-md-4 col-md-offset-4">
      <button id="recommend" type="button" class="btn btn-default btn-block">계속 추천받기</button>
    </div>
  </div>
</div>

<%= paginate @gifts %>