// Place all the styles related to the backers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cont-container{
  padding: 20px;
  .cont-form-container{
    border-right: 1px solid #f0f0f0;
    padding:20px;

    .contribution-money{
      .form-inline{
        display:inline;
      }

      .contacts{
        #name{
          width:34%;
        }
        #phone{
          width:65%;
        }
      }


    }

    .submit-btn{
      text-align: center;
      margin-top: 15px;
    }

    .celebration-message{
      textarea{
        resize:none;
      }
    }

  }

  .gift-container{
    padding: 20px;
  }

}



