.gift-name {
  margin-bottom: 10px;
}

.gift-price {
  font-weight: bold;
}

.gift-description {
  border-radius: 6px;
  border-right: 1px solid #f0f0f0;
  
  .gift-image {
    width: 100%;
    height: 647px;
    background-size: cover;  
  }
}

.friend-information {
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 8px;
}

#new-fund {
  .new-fund-modal {
    width: 1180px;
  }  
}

.contributors {
  .contributor-image {
    padding-bottom: 3.3px;
    width: 24.25%;
    margin-left: 1%;

    img {
      max-width: 100%;
      border-radius: 6px;
    }
  }

  .contributor-image:first-child {
    margin-left: 0;
  }
}
